
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0rem;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #a749ff;
  @media #{$lg-layout} {
    font-size: 15rem;
    margin-bottom: 4px;
  }
  @media #{$md-layout} {
    font-size: 12rem;
  }
  @media #{$xs-layout} {
    font-size: 7rem;
    line-height: 88px;
  }
  @media #{$sm-layout} {
    font-size: 9rem;
    line-height: 100px;
  }
}
.submit {
  background-color: #a749ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
}
.container {
  text-align: center;
}




